<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Monster Detail</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="bg-image">  
        <h3>
            <strong >{{monster?.name}} {{"("+monster?.creatureName+")"}}</strong>
        </h3>
            <!--
    <ion-card>

        <ion-card-header>
            <h3>
                <strong *ngIf="monster?.name">{{monster?.name}} {{"("+monster?.creatureName+")"}})</strong>
                <strong *ngIf="!monster?.name">{{monster?.creatureName}}</strong>
            </h3>
        </ion-card-header>
        <ion-card-content>
        
        <div class="italic">{{monster?.basic}}</div>
        
        <hr>
        <p><strong>Armor Class </strong>{{monster?.ac}}</p>
        <p><strong>Hit Points </strong>{{monster?.hp}} {{monster?.hitDices}}</p>
        <p><strong>Speed </strong>{{monster?.spd}}</p>
        <hr>
        <div class="row">
            <div class="col" style="text-align: center">
                <strong>STR</strong><br>
                <span style="font-size: 0.9em">{{monster?.str}}</span>
            </div>
            <div class="col" style="text-align: center">
                <strong>DEX</strong><br>
                <span style="font-size: 0.9em">{{monster?.dex}}</span>
            </div>
            <div class="col" style="text-align: center">
                <strong>CON</strong><br>
                <span style="font-size: 0.9em">{{monster?.con}}</span>
            </div>
            <div class="col" style="text-align: center">
                <strong>INT</strong><br>
                <span style="font-size: 0.9em">{{monster?.int}}</span>
            </div>
            <div class="col" style="text-align: center">
                <strong>WIS</strong><br>
                <span style="font-size: 0.9em">{{monster?.wis}}</span>
            </div>
            <div class="col" style="text-align: center">
                <strong>CHA</strong><br>
                <span style="font-size: 0.9em">{{monster?.cha}}</span>
            </div>
        </div>
        
        <hr>
        <p *ngIf="monster?.savingThrows"><strong>Saving Throws </strong>{{monster?.savingThrows}}</p>
        <p *ngIf="monster?.skills"><strong>Skills </strong>{{monster?.skills}}</p>
        <p *ngIf="monster?.senses"><strong>Senses </strong>{{monster?.senses}}</p>
        <p *ngIf="monster?.resistances"><strong>Resistances </strong>{{monster?.resistances}}</p>
        <p *ngIf="monster?.immunities"><strong>Immunities </strong>{{monster?.immunities}}</p>
        <p><strong>Challange </strong>{{monster?.cr + " (" + monster?.xp + " XP)"}}</p>
        
        <div *ngIf="monster?.specialAbilities">
            <hr>
            <h4>Special Abilities</h4>
            <p *ngFor="let sa of monster?.specialAbilities" style="margin-bottom: 10px;">
                <strong>{{sa.name}}. </strong>{{sa.description}}
            </p>
            <div *ngIf="monster?.preparedSpells">
                The {{monster?.name}} has the following wizard spells prepared:
                <ul>
                    <li *ngFor="let ps of monster?.preparedSpells">{{ps.level}}: <span class="italic">{{ps.spells}}</span></li>
                </ul>
            </div>
        </div>
        
        <div *ngIf="monster?.actions">
            <hr>
            <h4>Actions</h4>
            <p *ngFor="let action of monster?.actions" style="margin-bottom: 10px;">
                <strong>{{action.name}}. </strong>{{action.description}}
            </p>
        </div>
        
        <div *ngIf="monster?.reactions">
            <hr>
            <h4>Reactions</h4>
            <p *ngFor="let action of monster?.reactions" style="margin-bottom: 10px;">
                <strong>{{action.name}}. </strong>{{action.description}}
            </p>
        </div>
        
        <div *ngIf="monster?.info">
            <hr>
            <h4>Information</h4>
            <p *ngFor="let p of monster?.info" ng-bind-html="p" style="margin-bottom: 10px;"></p>
        </div>
   
        </ion-card-content>
    </ion-card>
     -->
</ion-content>